### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/


# Flask stuff:
instance/
.webassets-cache

# Editors
.vscode/
.idea/

credentials.txt
[1-31]*
efsi/